@-webkit-keyframes movimiento {
  0% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}
@keyframes movimiento {
  0% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Asap", sans-serif;
  color: aliceblue;
  background-color: #0d3b55;
}

.logo {
  grid-area: logo;
  height: 20vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_subiza {
  width: 300px;
  height: 150px;
}

.bg_color_principal {
  background-color: #0d3b55;
}

.bg_color_card {
  background-color: darkcyan;
}

.font_principal {
  color: aliceblue;
}

.color_font_card {
  color: black;
}

.nav_bar {
  grid-area: nav_bar;
}

.area_left {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2vh;
}
.area_left p {
  font-size: large;
  padding-left: 2%;
  position: relative;
  -webkit-animation: movimiento 3s;
          animation: movimiento 3s;
}
.area_left h1 {
  font-size: 200%;
  padding-left: 2%;
  position: relative;
  -webkit-animation: movimiento 5s;
          animation: movimiento 5s;
}
.area_left h2 {
  font-size: medium;
  padding-left: 2%;
}
.area_left .card_container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  row-gap: 5vh;
}
.area_left .servicio_izq {
  width: 50vw;
  height: 10vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.area_left .servicio_izq .sub_guardia {
  text-align: center;
  font-size: small;
}

.area_right {
  grid-area: area_right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5vh;
  height: 60vh;
}
.area_right h2 {
  position: relative;
  -webkit-animation: movimiento 3s;
          animation: movimiento 3s;
}
.area_right .servicio_izq {
  width: 50vw;
  height: 10vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.area_right .servicio_izq .sub_guardia {
  text-align: center;
  font-size: small;
}

.foot {
  margin-top: 8vh;
  grid-area: foot;
  height: 20vh;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  height: 10vh;
  background-color: darkcyan;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5%;
}

.redes_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.icono_redes {
  width: 30px;
  height: 30px;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
}

.foot {
  padding-left: 20px;
  font-size: small;
  display: flex;
  align-items: center;
}

.foto {
  width: 100px;
  height: 100px;
}

.foto_nombre {
  font-size: small;
}

.foto_titulo {
  font-size: x-small;
}

.foto_puesto {
  font-size: x-small;
}

.elemento_organigrama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.row_organigrama {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.contenedor_organigrama {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  row-gap: 5vh;
}

#estructura_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav_bar" "area_left" "area_right" "foot";
}

/* utilizo este breakpoint porque coincide con el de bootstrap (para mostrar o no el menu hamburguesa) */
@media only screen and (min-width: 992px) {
  #estructura_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav_bar nav_bar" "area_left area_right" "foot foot";
  }
  .area_left .servicio_izq {
    display: flex;
  }
  .area_right .servicio_izq {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */