//mobile first
#estructura_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav_bar"
    "carousel"
    "area_left"
    "area_right"
    "foot";
}





/* utilizo este breakpoint porque coincide con el de bootstrap (para mostrar o no el menu hamburguesa) */
//CONTACTO
@media only screen and (min-width: 992px){
    

    #estructura_grid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "nav_bar nav_bar"
        "carousel carousel"
        "area_left area_right"
        "foot foot";   
    }

    .area_left{
        .servicio_izq{
        display: flex;
        }
    }

    .area_right{
        .servicio_izq{
        display: flex;
        }
    }
}





